.header {
    background-color: mistyrose;
    color: lightcoral;
    text-align: center;
    padding: 20px;
}
.topnav {
    overflow: hidden;
    background-color: mistyrose;
}
.topnav a {
    float: left;
    display: block;
    color: mistyrose;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}
.topnav a:hover {
    background-color: lightcoral;
    color: snow;
}
.footer {
    background-color: mistyrose;
    color: lightcoral;
    text-align: center;
    padding: 10px;
}
